.image
{
    display:flex;
    justify-content: center;
}
body
{
    text-align:center;
    background-color:white;
}
div
{
    margin-top: 15px;
}
.style
{
    margin-right: :25px;
    margin-left:25px;
    background-color:white;
}
img
{
    height:450px;
    width:500px;
}